$color-white: #ebe9e9;
$color-yellow: #f2f230;
$color-dark: #555b6e;
$color-blue-dark: #39a0ed;
$color-blue-light: #6efafb;

body {
  margin-bottm: 300px;
  background-color: $color-white;
}


#navbar {
  background-color: white;
}

.wrapper {
  display: flex;
}

.sidebar {
  min-width: 450px;
  max-width: 450px;
  min-height: 100vh;
  max-height: 100vh;
  margin-left: -450px;
  overflow: hidden;

  .list-group {
    overflow-y: auto;
    min-height: 95vh;
    max-height: 95vh;
  }

  .list-group-item-checklist {
    text-align: left;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checklist-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .badge {
      margin-left: 10px;
    }
  }
}

a.btn-danger {
  color: white;
}

.sidebar.active {
  margin-left: 0px;
}

.content {
  width: 100%;
}

.card-settings {
  margin-bottom: 70px;
  width: 700px;
}

#checklists-open {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-right: 20px;

  .checklists-wrapper {
    position: absolute;
  }

  .card-checklist {
    margin: 20px;
    margin-top: 20px;
    min-width: 100px;
    flex-shrink: 0;

    .card-body .toolbar {
      padding-bottom: 10px;
    }

    .card-header {

      .card-header-dates,
      .card-header-counts,
      .card-header-description {
        font-size: 0.8em;
        color: rgb(255, 250, 235)
      }

      .card-header-description {
        margin-bottom: 10px;
      }

      .btn-toggle-description i {
        color: white;
        font-size: 1.2em;
        font-weight: 100;
      }

      .card-header-name {
        display: flex;
        justify-content: space-between;
      }
    }

    .card-footer {
      align-items: flex-start;
      .btn {margin-right: 5px;}
    }
  }

  .input-group-new-item {
    margin-bottom: 20px;
  }


  .items {
    border-top: 4px solid lightgrey;
  }


  .item {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    .right {
      margin-left: 10px;

      .bx:hover {
        cursor: pointer;
      }
    }

    .left {
      display: flex;
      align-items: baseline;

      * {
        margin: 0px 5px;
      }

      .item-content {
        width: 100%;
      }
    }

    .item-content {
      font-size: 1.1em;
      overflow-wrap: anywhere;
    }

    .edit-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .input {
        flex-grow: 2;
        margin-right: 10px;
      }

      .buttons {
        display: flex;

        .btn {
          margin: 0px 5px;
          padding: 2px 4px;
        }
      }
      
    }

  }

  .item-completed {
    .item-content {
      text-decoration: line-through;
    }
  }
}

.hamburger:focus,
.list-group-item-checklist:focus {
  outline: none;
}

// scrollbar 

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// end scrollbar

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-xs {
  padding: 2px 4px;
}


.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);

  .card-header {
    background-color: $color-dark;
    color: white;

    .close {
      color: white;
    }
  }
}

.modal-header {
  background-color: $color-dark;
  color: white;

  .close {
    color: white;
  }
}


.color-white {
  color: $color-white;
}

.color-yellow {
  color: $color-yellow;
}

.color-dark {
  color: $color-dark;
}

.color-blue-light {
  color: $color-blue-light;
}

.color-blue-dark {
  color: $color-blue-dark;
}

.bg-white {
  background-color: $color-white !important;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-dark {
  background-color: $color-dark !important;
}

.bg-blue-light {
  background-color: $color-blue-light;
}

.bg-blue-dark {
  background-color: $color-blue-dark;
}


.img-login {
  width: 100%;
  height: auto;
}


.mt-big {
  margin-top: 150px;
}

.login-page {
  background-color: $color-white;
}


// mobile view
@media screen and (max-width: 768px) {

  .sidebar {
    // transition: all 0.2s;
    min-width: 250px;
    max-width: 250px;
    margin-left: -250px;
    min-height: 100vh;
    max-height: 100vh;
  }

  .sidebar.active {
    margin-left: 0px;
  }

  .card-checklist {
    margin-top: 20px !important;
    width: 370px;

    .card-footer {
      flex-wrap: wrap;

      .btn {
        margin-top: 3px;
      }
    }
  }

  .mt-big {
    margin-top: 30px;
  }

  .sidebar .split h5,
  .item-content {
    font-size: 1.0em !important;
  }
}